h1 {
  display: flex;
  justify-content: center;
}

article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.kontakt_info {
  gap: 20px;
  padding: 30px;
  text-align: center;
}

.kortet {
  width: 80%;
  gap: 20px;
  padding: 30px;
  justify-content: center;
}

iframe {
  width: auto;
}
