h1 {
  display: flex;
  justify-content: center;
}

article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.kontakt_info {
  gap: 10px;
  padding: 40px;
  text-align: center;
}

.kortet {
  display: flex;
  place-content: center;
  padding: 40px;
}

iframe {
  width: auto;
  height: 30vw;
}

 /* det stod i kortet
  width: 80%;
  gap: 20px;
  