* {
  margin: 0%;
  padding: 0%;
}
@media (min-width: 0px) and (max-width: 600px) {
  body {
    background-image: url(../Gallery/test_pic.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .pagetext {
    max-width: 25rem;
    max-height: 10rem;
    margin-top: 30rem;
    border-style: dotted;
    border-color: black;

    margin-bottom: 20vw;
    margin-left: 12vw;
  }
  h2 {
    gap: 2px;
    padding-bottom: 2px;
  }
  h1 {
    padding-top: 1px;
    padding-left: 30vw;
  }
}
