* {
  margin: 0%;
  padding: 0%;
}
@media (min-width: 0px) and (max-width: 700px) {
  .background_image {
    background-color: chartreuse;
    background-size: cover;
    width: 700px;
    height: auto;
  }
}
h2 {
  color: blue;
}
