* {
  margin: 0%;
  padding: 0%;
}
main {
  background-image: url(../gallery/splashimage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
  display: grid;
}

button {
  padding: 3px 3px 3px 3px;
  background-color: black;
  border-radius: 20%;
  width: 3.5rem;
  height: 2.5rem;

  border-color: black;
}
button a {
  text-decoration: none;
  color: white;
}
h2 {
  font-size: 50px;
  padding-left: 20vw;
}
h1 {
  font-size: 70px;
  padding-left: 30vw;
}
@media (min-width: 0px) and (max-width: 600px) {
  .pagetext {
    margin-top: 100%;
  }
  button {
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 15rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .pagetext {
    margin-top: 100%;
  }
  button {
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 15rem;
    width: 30%;
  }
}
@media (min-width: 1001px) {
  .pagetext {
    margin-top: 100%;
  }
  button {
    margin-top: 5rem;
    margin-bottom: 20rem;
    margin-left: 15rem;
    width: 50%;
  }
  /*
  h2 {
    padding-left: 20vw;
  }
  h1 {
    padding-left: 30vw;
  }
  */
}
