h1 {
  display: flex;
  justify-content: center;
  padding: 15px;
}

article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.kontakt_info {
  gap: 5px;
  padding: px;
  text-align: center;
  line-height: 1.8rem;
  border-radius: 6px;
}

.text {
  padding-top: 15px;
  color: var(--primary);
  font-size: 16px;
}

.kortet {
  display: flex;
  place-content: center;
  padding: 40px;
}

iframe {
  width: 100%;
  height: auto;
}

.reserver_mail {
  padding: 40px;
  color: var(--secondary);
  font-size: 20px;
  font-family: var(--tekst);
  text-decoration: none;
}

body {
  background-color: var(--secondary);
}

/* det stod i kortet
  width: 80%;
  gap: 20px;
  
/*
.button {
  border-radius: 2px;
  display: flex;
  place-content: center;
  font-size: 40px;
}

*/

/*
.button a {
    padding: 8px 12px;
    border-radius: 2px;    
    font-size: 14px;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
} 
*/
